
body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: black;
}

#header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 10px;
  background-color: #009edb;
  background-image: url("illu-header-data.png");
  background-repeat: repeat;
  background-position: 0 200px;
  background-size: auto 400px;
}

#sticker-header {
  float: left;
  margin-right: 15px;
  height: 90px;
}

#footer {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
  border-top: 1px solid #000000;
}

#git-footer {
  float: left;
}

#mirai-footer {
  float: right;
  height: 32px;
}

#main{
  padding: 0;
}

#title{
  margin-top: 20px;
}

#subtitle{
  margin-top: 3px;
  margin-bottom: 10px;
}

h5 {
  font-family: inherit;
  font-size: 12px;
  color: black;
}

h4 {
  font-family: inherit;
  font-size: 13px;
  font-weight: bold;
  color: black;
}

#disclaimer{
  float: right;
  font-family: inherit;
  color: #737373;
  font-size: 12px;
  text-align: left;
  margin-left: auto;
  margin-right: 10%;
  margin-top: 25px;
}

/* define style only when non-empty, similar to .pre, so that no empty box is
shown before the textOutput is populated */
#Totals:not(:empty) {
  font-family: inherit;
  color: #008cc3;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f5f5f5;
  text-align: center;
  padding: 9.5px; /* same as .pre */
  /* same size as the plots */
  width: 800px;
  max-width: 100%;
}

#table {
  overflow-x: scroll;
}

h2 {
  font-family: inherit;
  color: #ea8b5b;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  display: inline;
}

#version {
  font-family: inherit;
  color: #000000;
  font-size: 12px;
}

h3 {
  font-family: inherit;
  color: #000000;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  display: inline;
}

a {
  font-size: 16px;
  color: #008cc3;
  text-align: left;
  font-weight: normal;
}

small {
  font-size: 12px;
  color: #737373;
}


label {
  font-weight: normal;
}

/* fix inline radio multiline spacing */
.form-control, .selectize-input {
  padding: 7px 10px;
  font: inherit;
  border-radius: 3px;
}

.datepicker {
  font: inherit; /* inherit from body */
}


/* fix inline radio multiline spacing */
.radio-inline+.radio-inline {
  margin-left: 0;
}
.radio-inline {
  padding-right: 15px;
}

/* vertical radio/checkbox alignment to text */
input[type=checkbox], input[type=radio] {
  margin: 1px 0 0;
}

.checkbox, .radio {
  margin: 0;
}



/* tabsetPanel style */
.nav-tabs {
  border-bottom: 1px solid #FF9966;
/*
  border-bottom: 0 solid #008cc3;
*/
}
.tab-content {
  padding: 10px;
  padding-top: 15px;
/*
  padding: 6px 12px;
  border: 1px solid #008cc3;
  border-radius: 3px;
  border-top-left-radius: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
*/
}
.tabbable > .nav > li > a {
  margin-left: 20px;
  min-width: 100px;
/*
  font-size: 13px;
  font-weight: bold;
  background-color: white;
  padding: 8px 15px;
  min-width: 100px;
  margin-right: 2px;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
*/
}
.tabbable > .nav > li[class=active] > a {
  color: white;
  background-color: #FF9966;
  border-color: #FF9966;
/*
  color: inherit;
  border: 1px solid #008cc3;
  border-bottom: 1px solid white;
  border-top: 3px solid #008cc3;
*/
}
.tabbable > .nav > li:not([class=active]) > a {
  border-top: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
/*
  color: #666666;
  border: 1px solid #D7DBDD;
  border-bottom: 1px solid #008cc3;
  border-top: 3px solid #D7DBDD;
*/
}


/*
Count Boxes
  * centered with a maximum width
  * custom content font sizes, inheriting the box's font color
*/

.count-box {
  padding: 10px;
  margin: 20px auto;
  max-width: 300px;
}

.count-box h3 {
  font-size: 28px;
  color: inherit;
}

.count-box p {
  font-size: 20px;
}
