
body {
  background-color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: black;
}

#header {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 10px;
  background-color: #009edb;
  background-image: url("illu-header-data.png");
  background-repeat: repeat;
  background-position: 0 200px;
  background-size: auto 400px;
}

#header-left {
  float: left;
}

#title {
  margin-top: 0;
}

#app-name {
  font-family: inherit;
  color: white;
  font-size: 36px;
  line-height: normal;
}


#version {
  font-family: inherit;
  color: white;
  font-size: 16px;
}

#subtitle {
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 16px;
  color: black;
}

#header-right {
  float: right;
}


#footer {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
  border-top: 1px solid #000000;
}

#git-footer {
  float: left;
  font-size: 16px;
}

#mirai-logo-header{
  height: 70px;
}

#mirai-footer {
  float: right;
  height: 32px;
}

#main {
  padding: 0;
}


.modal-body p {
  margin: 0;
}

#btn_whatsnew{
  color: white;
  background-color: transparent;
  border-color: transparent;
  padding: 0px 10px !important;
  margin: -10px!important;
  vertical-align: baseline !important;
}

#global-map_ui-map{
  max-height: 95vh;
}

h5 {
  font-family: inherit;
  font-size: 12px;
  color: black;
}

h4 {
  font-family: inherit;
  font-size: 13px;
  font-weight: bold;
  color: black;
}

h2 {
  font-family: inherit;
  color: #ea8b5b;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  display: inline;
}

h3 {
  font-family: inherit;
  margin-top: 0;
  color: #000000;
  font-size: 16px;
  text-align: left;
}

#title a:hover, #title a:visited, #title a:link, #title a:active {
  text-decoration: none;
}

a {
  color: #008cc3;
  text-align: left;
  font-weight: normal;
}

small {
  font-size: 12px;
  color: #737373;
}

label {
  font-weight: normal;
}

ul.bodytext {
  padding: 0px;
  margin: 0;
  text-align: left;
  display: table;
}
li.bodytext {
  padding: 0px;
  margin: 0;
}
ul.bodytextplot {
  padding: 0px;
  margin: 0;
  text-align: left;
  display: table;
}

.bodytextplot {
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: black;
  margin-left:10px;
  margin-right:10px;
  padding: 10px 30px 10px 30px";
}

.bodytext {
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: black;
  margin-left: 50px;
  margin-right:50px;
  padding: 10px 50px 10px 50px";
  align-content: center;
}

.sectiontitle {
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: black;
  align-content: center;
}

.plottext {
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: black;<
}

.plottitle {
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: black;
  margin-top:20px;
  margin-bottom:20px;
  align-content: center;
  font-weight: bold;
}
/* fix inline radio multiline spacing */
.form-control, .selectize-input {
  padding: 7px 10px;
  font: inherit;
  border-radius: 3px;
}

.datepicker {
  font: inherit; /* inherit from body */
}


/* fix inline radio multiline spacing */
.radio-inline+.radio-inline {
  margin-left: 0;
}
.radio-inline {
  padding-right: 15px;
}

/* vertical radio/checkbox alignment to text */
input[type=checkbox], input[type=radio] {
  margin: 1px 0 0;
}

.checkbox, .radio {
  margin: 0;
}



/* tabsetPanel style */
.nav-tabs {
  border-bottom: 1px solid #FF9966;
/*
  border-bottom: 0 solid #008cc3;
*/
}
.tab-content {
  padding: 10px;
  padding-top: 15px;
/*
  padding: 6px 12px;
  border: 1px solid #008cc3;
  border-radius: 3px;
  border-top-left-radius: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
*/
}
.tabbable > .nav > li > a {
  margin-left: 20px;
  min-width: 100px;
/*
  font-size: 13px;
  font-weight: bold;
  background-color: white;
  padding: 8px 15px;
  min-width: 100px;
  margin-right: 2px;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
*/
}
.tabbable > .nav > li[class=active] > a {
  color: white;
  background-color: #FF9966;
  border-color: #FF9966;
/*
  color: inherit;
  border: 1px solid #008cc3;
  border-bottom: 1px solid white;
  border-top: 3px solid #008cc3;
*/
}
.tabbable > .nav > li:not([class=active]) > a {
  border-top: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
/*
  color: #666666;
  border: 1px solid #D7DBDD;
  border-bottom: 1px solid #008cc3;
  border-top: 3px solid #D7DBDD;
*/
}


/*
Count Boxes
  * centered with a maximum width
  * custom content font sizes, inheriting the box's font color
*/

.count-box {
  display:block;
  padding: 10px;
  margin: 20px auto;
  max-width: 300px;
 /*  max-height: 300px;*/
  min-height: 145px;
}

.count-box h3 {
  font-size: 22px;
  color: inherit;
  display: inline-block;
}

.count-box p {
  font-size: 18px;
  display: inline-block;
}
