# Triggered on push and pull request events
on:
  push:
  pull_request:
  schedule:
    # every day at 8,16,21 UTC
    - cron: "0 8,16,21 * * *"
name: CI-CD

# renv with GitHub actions: https://rstudio.github.io/renv/articles/ci.html#github-actions

jobs:
  CI-CD:
    runs-on: ubuntu-latest
    env:
      RENV_PATHS_ROOT: ~/.local/share/renv

    steps:

      - uses: actions/checkout@v2

      - name: Setup version-stable R 3.6.3
        uses: r-lib/actions/setup-r@v1
        with:
          r-version: 3.6.3

      - name: Cache packages
        uses: actions/cache@v2
        with:
          path: ${{ env.RENV_PATHS_ROOT }}
          key: ${{ runner.os }}-renv-${{ hashFiles('**/renv.lock') }}
          restore-keys: |
            ${{ runner.os }}-renv-

      - name: Install system dependencies
        env:
          RHUB_PLATFORM: linux-x86_64-ubuntu-gcc
        run: |
          Rscript -e "renv::install('r-hub/sysreqs')"
          sysreqs=$(Rscript -e "cat(sysreqs::sysreq_commands('DESCRIPTION'))")
          sudo -s eval "$sysreqs"

      - name: Restore packages
        shell: Rscript {0}
        run: renv::restore()

      - name: Fetch and rebuild latest data
        #if: github.event_name == 'schedule'
        run: |
          pkgload::load_all(export_all = FALSE, helpers = FALSE, attach_testthat = FALSE)
          build_data()
        shell: Rscript {0}

      - name: Check package
        shell: Rscript {0}
        run: |
          install.packages("rcmdcheck")
          rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "warning")

      - name: Commit and push updated data
        #if: github.event_name == 'schedule'
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add inst/datahub/\*
          git commit -m "Update DataHub data" || echo "No changes to commit"
          git pull --ff-only
          git push origin

      - name: Deploy to shinyapps.io
        #if: github.ref == 'refs/heads/master'
        env:
          SHINYAPPS_ACCOUNT: ${{ secrets.SHINYAPPS_ACCOUNT }}
          SHINYAPPS_TOKEN: ${{ secrets.SHINYAPPS_TOKEN }}
          SHINYAPPS_SECRET: ${{ secrets.SHINYAPPS_SECRET }}
        run: Rscript deploy/deploy-shinyapps.R
